{% extends 'layouts/base.html' %} 

{% block title %} Index Page {% endblock %}


{% block content %}

<div class="px-4 mx-4 py-3 my-3 text-center">
    <img class="d-block mx-auto mb-4" 
        src="https://images.unsplash.com/photo-1550376026-33cbee34f79e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1472&q=80" 
        alt="" 
        width=80%
    >
    <h1 class="display-5 ">The latest books, reports, and audiobooks</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel commodi porro possimus, fugiat repellat velit rerum? Facere consequatur asperiores esse!</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href="{% url 'book:index' %}" 
            type="button" 
            class="btn btn-primary btn-lg px-4 me-md-2">Book Store <i class="fa-solid fa-magnifying-glass"></i></a>
      </div>
    </div>
  </div>

{% endblock  %}